@use "../../additional_styles/Objects" as *;
@use "../../additional_styles/Colors" as *;

.wrap_footer {
  margin-top: 50px;
  width: 100%;
  height: auto;
  background: $menu_fon;
  padding: 40px 0 20px 0;
  color: white;
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1440px));
  justify-content: center;

  .main_footer {
    // width: 100%;
    padding: 0 30px;
    @include flex(row, normal, normal);

    .section_menu {
      margin-right: 100px;
    }

    .name_help {
      font-weight: bold;
      font-size: 18px;
    }

    .links_foot {
      @include flex(column, flex-start, normal);

      & > a {
        margin-top: 1.2rem;
      }
    }

    .follow_us {
      margin-left: auto;

      & > * {
        margin-bottom: 40px;
      }
    }

    .know_more {
      cursor: pointer;
      @include flex(row, normal, center);

      .arrow_next {
        display: block;
        width: 50px;
        height: 30px;
        background: url('../images/icon_product/Vector.svg') no-repeat center;
      }
    }
  }

  .copiright {
    width: 100%;
    text-align: center;
    line-height: 20px;
  }
}


@media screen and (max-width: 1100px) {
  .wrap_footer {
    display: none;
  }
}