//* Main colors *//
$menu_fon: #3F484D;
$white: #FBFDFF;
$red: #CF1B24;
$blue_rasdel: #A6BFFD;
$red_sale_fon: #F54646;
$black_text: #181818;
$border_input_color: #B2ABB2;
$gray_text: #505050;
$address_grayText: #757575;
$bth_border_color: #59575A;
$light_coral_fon: #FFCEC3;
$bth_pay_color: #94F4EF;
$green: #C4F99B;
$sale_fon: rgba(255, 255, 255, 0.8);
$footer: #8FFFBC;
$sale_shadow: -5px 5px 5px 0px #3D241D80;
